{% extends 'base.html' %}

{% block page_content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<body style="background-color:#ffee77"></body>
<div class="col-12 col-md-30 col-lg-15 ">
<h1><b>Контакты</b></h1>
 <img src="/static/img/img_114.png" alt=" " style="width:300px;height:250px;float:center;margin: 5px 5px 5px 0;">
<p><b>Наш адрес:</b><br>
г.Минск ул.Притыцкого, 148 офис.12<br>
ст.метро "Каменная горка"</p><br>
<p><b>Время работы:</b><br>
Пн-пт 10:00-19:00<br>
сб 11:00-16:00; вс-выходной</p><br>
<p><b>Наши контакты:</b><br>
+375 (29) ** 777 ** Telegram/Whats App<br>
+375 (29) ** 777 ** Viber</p><br>
<p><b>Наш электронный адрес:</b><br>
Grtour@mail.ru</p><br>
   <p><b>Также вы можете с нами связаться через форму обратной связи:</b><br>
    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/contact_form">Написать нам</a></button>
 <br>
 <br>
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A0d99448e2b6033097c471972e0ed553b6ca340a9df67abfbe08e5c3a74f04026&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
</div>
{% endblock %}