{% extends 'base.html' %}
{% block page_content %}
<div style="margin:100px">
    <h1>Форма обратной связи</h1>
<p><b>
        Вы можете воспользоваться формой обратной связи для бронирования тура или получения консультации от наших специалистов. А также можете отправлять нам итересующие вас вопросы и предложения.
    <br>
        Пожалуйста, напишите свое имя, адрес электронной почты, номер телефона и сообщение.
   </b></p>



   <form method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit">
</form>
</div>
{% endblock %}