{% extends 'base.html' %}
{% load static %}

{% block page_content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<body style="background-color:#ffee77"></body>
<div class="col-12 col-md-30 col-lg-15 ">
<h1>{{ project.title }}</h1>
<div class="row">
    <div class="col=md-8">
        <img src="{% static hotel.image %}" alt=" " width="600" height="411">

    </div>
        <div class="col-20 col-md-20 col-lg-6 ">
            <h5>Об отеле:</h5>
            <p>{{ hotel.about }}</p>
            <p>{{ hotel.description }}</p>
            <p>{{ hotel.service }}</p>
        </div>
</div>
</div>
<button type="button" class="btn btn-sm btn-outline-secondary"><a href="/calendar_tour">Стоимость тура</a></button>
    {% endblock %}