{% extends "catalog/base.html" %}
{% load static %}
{% block title %}
  {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
    <div id="sidebar">
        <h3>Выберите категорию</h3>
        <ul>
            <li {% if not category %}class="selected"{% endif %}>
                <a href="{% url 'catalog:mytour_list' %}">Все</a>
            </li>
            {% for c in categories %}
                <li {% if category.slug == c.slug %} class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="main" class="mytour-list">
        <h1>{% if category %}{{ category.name }}{% else %}Наши туры{% endif %}</h1>
        {% for mytour in mytours %}
            <div class="item">
                <a href="{{ mytour.get_absolute_url }}">
                    <img src='{% if mytour.image %}{{ mytour.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}' width="100" height="70" >
                </a>
                <a href="{{ mytour.get_absolute_url }}">{{ mytour.name }}</a><br>
                ${{ mytour.price }}
                Дата и время выезда:{{ mytour.data_tour }}
                Отель тура:{{ mytour.hotel }}
                Количество дней:{{ mytour.day }}
                Количество свободных мест:{{ mytour.stock }}
            </div>
        {% endfor %}
    </div>

<br>
<br>
<br>
{% endblock %}