{% extends 'base.html' %}
{% block page_content %}
<div class="col-12col-md-35 col-lg-10">
    <br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1>Способы оплаты</h1>
    <img src="/static/img/img_117.png" alt=" " style="width:300px;height:200px;float:center;margin: 5px 5px 5px 0;">
<p>Тур в Грузию необходимо забронировать на сайте или по телефону и оплатить туристическую услугу. Транспортный сбор оплачивается перед началом поездки. Остальная сумма денег оплачивается на территории Грузии принимающей стороне. Дополнительные экскурсии оплачиваются на отдыхе.

<p><b>Способы оплаты туристической услуги: </b></p>

<p><b>НАЛИЧНЫМИ ИЛИ БАНКОВСКОЙ КАРТОЙ В ОФИСЕ</b></p>
<p>Вы можете приехать к нам в офис по адресу: г. Минск, ул. Притыцкого, 148 офис 12 в любое рабочее время, заключить договор и внести оплату наличными или банковской картой через терминал. </p>

<p><b>НА РАСЧЕТНЫЙ СЧЕТ ЧЕРЕЗ БАНК</b></p>
<p>Вы можете произвести оплату на основании реквизитов, указанных в договоре через любой банк на территории Беларуси. </p>

<p><b>ЧЕРЕЗ ИНТЕРНЕТ-БАНКИНГ</b></p>
    <img src="/static/img/img_116.png" alt=" " style="width:300px;height:200px;float:center;margin: 5px 5px 5px 0;">
<p>Оплатить туристические услуги Вы также можете через систему ”Расчет“ (ЕРИП), в интернет-банке, с помощью мобильного банкинга, инфокиоске и т.д. Совершить оплату можно с использованием наличных денежных средств, электронных денег и банковских платежных карточек в пунктах банковского обслуживания банков, которые оказывают услуги по приему платежей, а также посредством инструментов дистанционного банковского обслуживания. </p>
<p><b>ДЛЯ ПРОВЕДЕНИЯ ПЛАТЕЖА НЕОБХОДИМО: </b></p>
<p>Выбрать: <p/>
<p>Пункт “Система “Расчет” (ЕРИП)-> </p>
<p>Туризм и отдых-> <p/>
<p>Турагентства, туроператоры-> </p>
<p>Прочие организации-> </p>
<p>г. Минск-> </p>
<p>Название тур. фирмы-> </p>
<p>Туристические услуги</p>
<p>Для оплаты «Услуги» ввести Номер заказа</p>
<p>Проверить корректность информации</p>
<p>Совершить платеж</p>
</div>

{% endblock %}

