{% extends 'base.html' %}
{% block page_content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="col-12col-md-35 col-lg-11">
<h1 style="color:#FF0000">Акции и скидки!!!</h1>
<br>
   <img src="/static/img/img_68.png" alt=" " style="width:500px;height:400px;float:left;margin: 5px 5px 5px 0;">
  <br>
<h2 style="color:#FF0000"><b>СУПЕР РАСПРОДАЖА ТУРОВ ПО СИСТЕМЕ РАННЕГО БРОНИРОВАНИЯ! </b></h2>
<h2>Туристическая компания «GRtour» объявляет СУПЕР РАСПРОДАЖУ ТУРОВ! </h2>
<h2>Акция распространяется только на Экскурсионные туры в Грузию с отдыхом на море! </h2>
<h2>Успейте забронировать отдых Вашей мечты по удивительно НИЗКИМ ЦЕНАМ! </h2>
    <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/tour">Подробнее</a></button>
                </div>
</div>
 <br>
 <br>
 <br>
 <br>
<div class="col-12col-md-35 col-lg-12">
 <h2>Программа лояльности!</h2>
<p>Приобретя у нас тур, Вы автоматически становитесь участником нашей программы лояльности, и теперь имеете доступ к ряду привилегий и бонусов,
    которые доступны только нашим постоянным клиентам. Говоря о «специальных условиях», мы имеем в виду специальные цены «для своих», доступные
    только узкому кругу наших постоянных клиентов, выбравших нас в качестве своего персонального турагентства.</p>
<p>Участник программы– это клиент Туристической фирмы ООО «GRtour», который минимум один раз приобрел тур</p>
<p>Поскольку Вы путешествуете с нами уже столько лет, мы доверяем Вам и для каждого случая индивидуально определяем порядок оплаты тура,
    рассрочки платежа, бронирования горящих туров или оплаты туров по раннему бронированию и др.</p>


<p><b>С уважением и пожеланиями хорошего отдыха, </b></p>

<p><b>Турфирма  ООО «GRtour» </b></p>
</div>

{% endblock %}