{% extends 'base.html' %}
{% block page_content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1>Полезная информация</h1>
    <p>В этом разделе содержится полезная информация для наших туристов</p>
<br>
<img src="/static/img/img_115.png" alt=" " style="width:300px;height:250px;float:center;margin: 5px 5px 5px 0;">
<div class="col-12col-md-35 col-lg-10">


<h2><b>Как забронировать тур</b></h2>
<p>Забронировать тур в Грузию вы можете непосредственно на сайте или по телефонам, номера которых указаны вверху страницы. Перед оплатой обязательно дождитесь подтверждения заявки менеджером. Он внесет вас в список туристов и устно либо по электронной почте подтвердит вашу бронь. </p>
<p>Вы можете приехать к нам в офис по адресу: г. Минск, ул. Притыцкого, 148 офис 12 в любое рабочее время, заключить договор и внести оплату туристической услуги наличными или банковской картой через терминал. </p>
<p><b>Чтобы забронировать тур удалённо, необходимо:</b></p>
<p>Оставить заявку на выбранную экскурсию через форму обратной связи на сайте. </p>
<p>Получить договор с подписью и печатью. </p>
<p>Произвести оплату туристической услуги в банке или через систему ”Расчет“ (ЕРИП) на основании реквизитов, указанных в договоре. </p>
<p>Отправить скан или фото квитанции об оплате любым удобным способом (e-mail, мессенджеры, соц. сети) </p>
<p>Получить подробную информацию по отправке (время и адрес сбора, контакты) </p>

 <h2><b>Нужна ли страховка в Грузию</b></h2>
<p>Для туристической поездки в Грузию страховка не является обязательным документом. Но нужно помнить, в этой горной стране даже небольшая травма потянет за собой крупные расходы. Оформлять страховой полис или нет решать вам. Наша фирма предоставляет услуги по страхованию, т.е. страховой полис вы можите оформить у нас.</p>

</div>




    {% endblock %}