{% extends "base.html" %}
{% block page_content %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
   <div class="col-md-8 offset-md-2">
  <h1>О нас</h1>
        <img src="/static/img/img_112.png" alt=" " style="width:500px;height:250px;float:left;margin: 5px 5px 5px 0;">
       <p>Дорогие Друзья! Мы рады приветствовать Вас на нашем сайте. </p>
<p>Основными направлениями нашей деятельности является организация автобусных  туров в Грузию. </p>
<p>Грузия – наше главное направление, страна, с которой мы работаем уже несколько лет, которую любим и знаем. Каждый сезон мы открываем что-то новое и для себя и для Вас. </p>
<p>Компания «GRtour» разделяет с Вами любовь к этой изумительной стране и старается всегда максимально раскрывать перед Вами колорит, особенности и самые лучшие возможности, предлагаемые этой прекрасной страной. </p>
<p>У нас для Вас есть варианты пляжного отдыха, с наилучшими вариантами размещения, которые подойдут как для семейной поездки, так и для молодежного отдыха. А также полюбившиеся тысячам туристам комби-туры «экскурсии + отдых на море», зимние туры на горнолыжные курорты, а также просто авторские экскурсионные автобусные туры. </p>
<br>
    <h4>Уважаемые туристы, с целью усовершенствования программ наших туров мы периодически проводим опросы. Это важно для нас и наших туристов. Просим Вас принять участие в опросах.</h4>
<br>
<h5>Так же вы можете предложить свои темы для опроса, воспользовавшись формой обратной связи.</h5>
<br>
<button type="button" class="btn btn-sm btn-outline-secondary"><a href="/app">Участвовать</a></button>
<button type="button" class="btn btn-sm btn-outline-secondary"><a href="/contact_form">Предложить тему</a></button>
<br>
    <h1>Отзывы</h1>
       <img src="/static/img/img_113.png" alt=" " style="width:1000px;height:300px;float:left;margin: 5px 5px 5px 0;">
    <hr>
    {% for post in posts %}
    <h2><button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'blog_detail' post.pk%}">{{ post.title }}</a></button></h2>
    <small>
        {{ post.created_on.date }} | 
        Categories: 
        {% for category in post.categories.all %}
        <a href="{% url 'blog_category' category.name %}">
            {{ category.name }}
        </a> 
        {% endfor %}
    </small>
    <p>{{ post.body | slice:":400" }}...</p>
    {% endfor %}
</div>
{% endblock %}
