{% extends 'base.html' %}

{% block page_content %}
<h1 style="color:#0000FF">GRtours - лучший туроператор по Грузии</h1>
<br>
<br>
<br>
<br>


<div class="container">

         <div class="row justify-content-end">
          <div class="col-30 col-md-20 col-lg-11">

            <!-- Heading -->
            <h2 class="mb-3" >
              <marquee behavior="scroll" direction="left"><strong>Ранее бронирование до 15 мая! Скидки на "Экскурсионные туры с отдыхом на море ждут Вас"!</strong></marquee></h2>
<br>
  <style>
  body {
    background: #c7b39b url(static/img/img_74.png);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: left;
   }
   </style>

    <style>
   .text {
    text-align:  center;
   }
  </style>
             <br>
                <div class="text">

                <h3>до конца акции осталось:</h3>

                <script src="//megatimer.ru/get/48ce516d15b3238e51ba93db71c2571e.js"></script>


             <br>
              <br>
               <br>
                   <!-- Button -->
              <button type="button" class="custom-btn btn-1"><a href="/tourist_info/sale" class="button2" tabindex="0">Все акции здесь</a></button>
   <style>
  .custom-btn {
  width: 200px;
  height: 60px;
  color: #fffff;
  border-radius: 30px;
  padding: 10px 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  background: right;
  cursor: pointer;
  transition: all 0.3s ease;
  background-position: right right;
  align-items: right;
  margin: 18 auto;
  display: block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
   </style>
    </div>
  </div>
</div>
</div>
<br>
<br>
<br>
<h1 style="color:#0000FF">Наши лучшие предложения!</h1>

<div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="0" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
              <title>Placeholder</title>
              <p><img src="static/img/batumi.jpg" width="1450" height="700" alt="Грузия прекрасна"></p>

                </svg>
              <div class="card-body">
              <h3 class="card-text" style="color:#0000FF"><b>Экскурсионный тур в Грузию с отдыхом на море в Батуми.</b></h3>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/tour">Подробнее</a></button>
                </div>
              </div>
            </div>
</div>

<br>
<div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="0" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
              <title>Placeholder</title>
              <p><img src="static/img/img_50.png" width="1450" height="700" alt="Грузия прекрасна"></p>
                 </svg>
              <div class="card-body">
              <h3 class="card-text" style="color:#0000FF"><b>Экскурсионный тур в Грузию с отдыхом на море в Кобулети.</b></h3>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/tour">Подробнее</a></button>
                </div>
              </div>
            </div>
</div>
<br>
<div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="0" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
              <title>Placeholder</title>
              <p><img src="static/img/img_51.png"  width="1450" height="700" alt="Грузия прекрасна"></p>
               </svg>
              <div class="card-body">
              <h3 class="card-text" style="color:#0000FF"><b>Экскурсионный тур в Грузию с отдыхом на море в Гонио.</b></h3>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/tour">Подробнее</a></button>
                </div>
              </div>
            </div>
</div>
<br>
<div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="0" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
              <title>Placeholder</title>
              <p><img src="static/img/img_59.png"  width="1450" height="700" alt="Грузия прекрасна"></p>
              </svg>
            <div class="card-body">
              <h3 class="card-text" style="color:#0000FF"><b>Экскурсионный тур в Грузию с отдыхом на море в Уреки.</b></h3>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/tour">Подробнее</a></button>
                </div>
              </div>
            </div>
          </div>
<br>
<br>
<br>

  <div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom" style="color:#0000FF">Почему выбирают нас?</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
        </div>
        <div>
          <h3 class="fs-2" style="color:#0000FF">Лучшие отели</h3>
          <p>Мы подобрали для вас одни из лучших транзитных отелей в Ростове на Дону и Тбилиси, отличный отель для отдыха в Кобулети. Мы любим и ценим наших туристов, которые в последующем становятся нашими друзьями..</p>

        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"></use></svg>
        </div>
        <div>
          <h3 class="fs-2" style="color:#0000FF">С нами комфортно</h3>
          <p>У нас Белорусские перевозчики с опытом поездок по Европе и Грузии, что не мало важно при транзите по территории Грузии. В автобусе у нас пледы для каждого туриста,по пути следования остановки на горячее питание. Так же в дороге мы предлагаем чай и кофе..</p>

        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"></use></svg>
        </div>
        <div>
          <h3 class="fs-2" style="color:#0000FF">Наш опыт</h3>
          <p>Программа отдыха составлена с учетом отзывов и пожеланий туристов прошлых лет. Мы по максимуму учитываем все обстоятельства и нюансы. Надежная принимающая сторона и поддержка 24/7 как в Грузии так и в РБ, многолетний  опыт в организации отдыха в Грузии..</p>

        </div>
      </div>
    </div>
  </div>
<br>
<br>
<br>

{% endblock %}