{% extends 'base.html' %}
{% load static %}
{% block page_content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <div class="col-10col-md-20 col-lg-10">
<br>
     <h3><b>Авторский тур "Чарующая Грузия 2023 ЭКСПРЕСС!"</b></h3>
<p><b>Маршрут тура</b></p>
<p>Минск — Могилёв  — Гомель — Ростов на Дону — Тбилиси — Сванетия - Боржоми - Кобулети — Ахалцихе - Ростов на Дону — Гомель  — Могилёв — Минск</p>
    <p><b>1 ДЕНЬ</b></p>
    <p>9:00 посадка в Минске, центральный автовокзал.</p>
    <p>Ночной переезд</p>
    <p><b>2 ДЕНЬ</b></p>
    <p>Транзит по территории РФ.</p>
    <p>8:00-10:00 — Приезд в Ростов-на-Дону.</p>
    <p>Заселение в гостиницу.</p>
        <img src="/static/img/img_41.png" alt=" " style="width:800px;height:600px;">
    <p>Возможность погулять по Ростову-на-Дону (свободное время).</p>
    <p>По желанию вы самостоятельно можете прогуляться по знаменитой набережной Ростова-на-Дону.</p>
    <p>Отдых- около 9 часов. По желанию, в гостинице есть сауна и бассейн.</p>
    <p>Ужин.</p>
    <p>(Точное время ужина назначает руководитель группы)</p>
    <p>18:00-20:00 — Выезд из гостиницы (в зависимости от ситуации на дорогах).</p>
    <p>Транзит по территории РФ.</p>
    <p><b>3 ДЕНЬ</b></p>
    <p>Транзит по территории РФ. Прохождение границы утром.</p>
    <p>Дорога Жемчужина Закавказья в красавец Тбилиси, по Военно-Грузинской дороге, одной из самых красивых дорог в Европе!</p>
    <img src="/static/img/img_42.png" alt=" " style="width:800px;height:600px;">
    <p>Наши обзорная экскурсии начинаются со Степанцминда (Казбеги)</p>
    <p>Остановка у подножия Казбеги и церкви пресвятой Троицы Гергети (2170м над у.м.)). Гора Казбек (5034).</p>
    <p>Так же по пути нас ожидает нарзанный источник.</p>
    <p>После мы посетим Арку Дружбы Народов.</p>
      <img src="/static/img/img_43.png" alt=" " style="width:800px;height:600px;">
    <p>По дороге осмотрим живописную крепость Ананури (XVI в), расположенную над рекой Арагви, а также потрясающей красоты Жинвальское Водохранилище.</p>
     <img src="/static/img/img_44.png" alt=" " style="width:800px;height:600px;">
      <p>Мцхета — древняя столица Грузии.</p>
    <p>Здесь мы посетим Кафедральный собор Светицховели, который был построен в XI веке. В Светицховели хранятся великие христианские святыни.</p>
    <p>Поднявшись на гору к монастырю Джвари, увидим потрясающую картину слияния двух рек-Куры и Арагвы.</p>
     <img src="/static/img/img_45.png" alt=" " style="width:800px;height:600px;">
    <p>После этого путешествия мы приезжаем в Тбилиси. Где начинается наша автобусно - пешеходная экскурсия.</p>
        <img src="/static/img/img_46.png" alt=" " style="width:800px;height:600px;">
    <p>Заселение в отель Тбилиси.</p>
    <p>Свободное время.</p>
    <p>Ночлег в отеле.</p>
    <p><b>4 ДЕНЬ</b></p>
    <p>08:00 — Завтрак.</p>
    <p>Выселение из гостиницы.</p>
    <p>Переезд в Сванетию.</p>
    <p>Обзорная экскурсия.</p>
    <p>Заселение в отель.</p>
    <p>Свободное время.</p>
    <p>Ночлег в отеле.</p>
    <p><b>5 ДЕНЬ</b></p>
    <p>08:00 — Завтрак.</p>
    <p>Выселение из гостиницы.</p>
    <p>Переезд в город Боржоми.</p>
    <p>Экскурсия в Боржоми.</p>
    <img src="/static/img/img_47.png" alt=" " style="width:800px;height:600px;">
    <p>Переезд в Кобулети.</p>
    <p>Заселение .</p>
    <p><b>6-7 ДЕНЬ</b></p>
    <p>Вас ожидает отдых на море и экскурсии по программе.</p>
    <p><b>8 ДЕНЬ</b></p>
    <p>Завтрак. Выселение из номеров до 12:00.</p>
    <p>Переезд в Ахалцихе.</p>
    <p>Обзорная экскурсия.</p>
    <p>Заселение в отель.</p>
    <p>Свободное время.</p>
    <p>Ночлег в отеле.</p>
     <p><b>9 ДЕНЬ</b></p>
   <p>Завтрак. Выселение из номеров.</p>
   <p>Экскурсии.</p>
    <p>20:00(Точное время выезда назначает руководитель группы) — Выезд в РБ</p>
    <p>Транзит по территории Грузии. Ночной переезд.</p>
    <p><b>10 ДЕНЬ</b></p>
    <p>Транзит по территории Грузии.</p>
    <p>Прохождение границы рано утром.</p>
    <p>Транзит по территории РФ.</p>
    <p>18:00-20:00 — Приезд в Ростов-на-Дону.</p>
    <p>Заселение в отель.</p>
    <p>Ночлег.</p>
    <p><b>11 ДЕНЬ</b></p>
    <p>Завтрак.</p>
    <p>Выезд.</p>
    <p>Транзит по территории РФ.</p>
    <p>Ночной переезд.</p>
   <p><b>12 ДЕНЬ</b></p>
    <p>Транзит по территории РФ и РБ.</p>
    <p>09:00-11:00 Прибытие в Минск.</p>

      <p><b>В стоимость тура входит:</b></p>
   <p>
•	Проезд автобусом тур. класса
•	Кондиционер
•	TV (в автобусе)
•	WI-FI (в автобусе) на территории РФ
•	Мягенькие пледы для каждого туриста
•	Чаи,кофе+сладости
•	Бесплатный выбор места в автобусе
•	Услуги сопровождающего группы
•	2 транзитных ночлега в Ростове-на-Дону (2 завтрака )
•	1 ночь в Тбилиси; 1 ночь в Сванетии 3 ночи в Кобулети; 1 ночь в Ахалцихе
•	Фото пауза на источнике "Нарзан"
•	Остановка на арке дружбы народов
•	Остановка на Джинвальском водохранилище и крепости Ананури
•	Экскурсия Мцхета - древняя столица Грузии
•	Экскурсия к монастырю Джвари
•	Экскурсионный пакет(Обзорные экскурсии по Мцхете, Батуми, Боржоми, Вардзии, Мартвильскому каньону, Тбилиси)
•   Тансферы по всей программе
<p><b>Дополнительно оплачивается:</b></p>
•	Транспортный пакет - 100 дол
•	Входные билеты по программе: парк Боржоми, Мартвильский каньон, Вардзия, канатная дорога Хацвали (за все ≈ 15 - 20 $)
•	Личные расходы, обеды, ужины и ужин в хинкальне.
•	Медицинская страховка (около 9$)
      </p>

</div>


    <div class="col-10col-md-20 col-lg-10">
          <h2 class="pb-2 border-bottom">Внимание</h2>
              <p>В программе тура могут быть изменения, порядок экскурсий может быть изменен по времени в зависимости от работы экскурсионных объектов на маршруте следования и погодных условий.</p>

<p>Туроператор не несет ответственности за задержки связанные с дорожной обстановкой, пробками на дорогах и время, потраченное на прохождение границы.</p>

<p>Время в пути указано ориентировочно.</p>

        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/contact_form">Если есть вопросы, напишите нам</a></button>

</div>
</div>
</div>
{% endblock %}