{% extends 'base.html' %}
{% load static %}
{% block page_content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <div class="col-10col-md-20 col-lg-10">
<br>
     <h3><b>Авторский тур "От Тбилиси до Батуми"</b></h3>
<p><b>Маршрут тура</b></p>
<p>Минск — Могилёв  — Гомель — Ростов на Дону — Тбилиси — Кахетия - Боржоми - Кобулети— Ростов на Дону — Гомель  — Могилёв — Минск</p>
    <p><b>1 ДЕНЬ</b></p>
    <p>9:00 посадка в Минске, центральный автовокзал.</p>
    <p>Ночной переезд</p>
    <p><b>2 ДЕНЬ</b></p>
    <p>Транзит по территории РФ.</p>
    <p>8:00-10:00 — Приезд в Ростов-на-Дону.</p>
    <p>Заселение в гостиницу.</p>
        <img src="/static/img/img_41.png" alt=" " style="width:800px;height:600px;">
    <p>Возможность погулять по Ростову-на-Дону (свободное время).</p>
    <p>По желанию вы самостоятельно можете прогуляться по знаменитой набережной Ростова-на-Дону.</p>
    <p>Отдых- около 9 часов. По желанию, в гостинице есть сауна и бассейн.</p>
    <p>Ужин.</p>
    <p>(Точное время ужина назначает руководитель группы)</p>
    <p>18:00-20:00 — Выезд из гостиницы (в зависимости от ситуации на дорогах).</p>
    <p>Транзит по территории РФ.</p>
    <p><b>3 ДЕНЬ</b></p>
    <p>Транзит по территории РФ. Прохождение границы утром.</p>
    <p>Дорога Жемчужина Закавказья в красавец Тбилиси, по Военно-Грузинской дороге, одной из самых красивых дорог в Европе!</p>
    <img src="/static/img/img_42.png" alt=" " style="width:800px;height:600px;">
    <p>Наши обзорная экскурсии начинаются со Степанцминда (Казбеги)</p>
    <p>Остановка у подножия Казбеги и церкви пресвятой Троицы Гергети (2170м над у.м.)). Гора Казбек (5034).</p>
    <p>Так же по пути нас ожидает нарзанный источник.</p>
    <p>После мы посетим Арку Дружбы Народов.</p>
      <img src="/static/img/img_43.png" alt=" " style="width:800px;height:600px;">
    <p>По дороге осмотрим живописную крепость Ананури (XVI в), расположенную над рекой Арагви, а также потрясающей красоты Жинвальское Водохранилище.</p>
     <img src="/static/img/img_44.png" alt=" " style="width:800px;height:600px;">
          <p>После этого путешествия мы приезжаем в Тбилиси. Где начинается наша автобусно - пешеходная экскурсия.</p>
        <img src="/static/img/img_46.png" alt=" " style="width:800px;height:600px;">
    <p>Заселение в отель Тбилиси.</p>
    <p>Свободное время.</p>
    <p>Ночлег в отеле.</p>
    <p><b>4 ДЕНЬ</b></p>
        <p>Завтрак.
        Экскурсия в Мцхета.</p>
        <img src="/static/img/img_45.png" alt=" " style="width:800px;height:600px;">
        <p>Экскурсия в храм Джвари.</p>
        Экскурсия по Тбилиси ( самые лучшие локации города).
        Приветственный ужин в ресторане Тбилиси .
        Ночь в отеле Тбилиси.
        <p><b>5 ДЕНЬ</b></p>
        Свободный день в Тбилиси.
        Ночь в Тбилиси.
        <p><b>6 ДЕНЬ</b></p>
        Завтрак.
        Экскурсия на монумент "История Грузии"
        Дегустация вина и коньяка.
        Выезд в регион Кахетии.
        Экскурсия в город любви Сигнаги.
        Экскурсия по Алазанской долине.
        Ночь в Кахетии.
        <p><b>7 ДЕНЬ</b></p>
        <p>Завтрак.
        Выезд в Боржоми.
        Экскурсия в Гори.
        Экскурсия в Уплисцихе пещерный город.
        Экскурсия по Боржоми + парк.</p>
        <img src="/static/img/img_47.png" alt=" " style="width:800px;height:600px;">
        <p>Купание в серных бассейнах ( по желанию).
        Свободное время.
        Ночь в Боржоми.</p>
        <p><b>8 ДЕНЬ</b></p>
        Завтрак.
        Экскурсия на знаменитый белый мост в Кутаиси + достопримечательности города .
        Прогулка по музейному комплексу " Мини Грузия "
        Приезд в Кобулети.
        Ужин.
        Ночь в отеле.
        <p><b>9 ДЕНЬ</b></p>
        Отдых на море.
        Поездка в парк Шиквителли.
        <p><b>10 ДЕНЬ</b></p>
        Экскурсия в Батуми + горная Аджария .
        Прощальный ужин.
        <p><b>11 ДЕНЬ</b></p>
        Завтрак.
        Выселение.
        Выезд домой.
        <p><b>12 ДЕНЬ</b></p>
        Приезд в Ростов на Дону .
        Ночь в отеле .
        <p><b>13 ДЕНЬ</b></p>
        Завтрак и выезд домой .
        <p><b>14 ДЕНЬ</b></p>
        Приезд в РБ.

      <p><b>В стоимость тура входит:</b></p>

•	2 транзитных ночлега в Ростове ( завтрак ).
•   3 ночи в Тбилиси ( завтрак ).
•   1 ночь Кахетии ( завтрак).
•   1 ночь в Боржоми (завтрак).
•   Экскурсии по программе с входными билетами.
•   Транспортное обслуживание с гидом.
•   Проживание в Кобулети 3 ночи ( завтраки + 2 ужина ).
•   Отель " Эстония " Приветственный ужин в ресторане Тбилиси.
•   Прощальный ужин в Кобулети.
<p><b>Дополнительно оплачивается:</b></p>
•	Транспортный пакет - 200 руб
•	Купание в серных бассейнах Страховка .
•   Питание не по программе. Личные расходы.
•	Медицинская страховка (около 7$)
      </p>

</div>


    <div class="col-10col-md-20 col-lg-10">
          <h2 class="pb-2 border-bottom">Внимание</h2>
              <p>В программе тура могут быть изменения, порядок экскурсий может быть изменен по времени в зависимости от работы экскурсионных объектов на маршруте следования и погодных условий.</p>

<p>Туроператор не несет ответственности за задержки связанные с дорожной обстановкой, пробками на дорогах и время, потраченное на прохождение границы.</p>

<p>Время в пути указано ориентировочно.</p>

        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/contact_form">Если есть вопросы, напишите нам</a></button>

</div>
</div>
</div>
{% endblock %}