{% extends 'base.html' %}
{% load static %}
{% block page_content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <div class="col-10col-md-20 col-lg-10">
<br>
     <h1><b>Дорогие туристы на этой страничке вы найдёте подробную программу наших туров.</b></h1>
        <img src="/static/img/img_118.png" alt=" " style="width:300px;height:200px;float:center;margin: 5px 5px 5px 0;">
<br>
     <li><big><a href="/tour/tour_1">Программа экскурсионных туров в Грузию с отдыхом на море</a></big></li>
    <br>
     <br>
    <li><big><a href="/tour/tour_2">Авторский тур "От Тбилиси до Батуми"</a></big></li>
    <br>
      <br>
     <li><big><a href="/tour/tour_3">Авторский тур "Релакс-тур в Грузию (фитнес+йога)"</a></big></li>
    <br>
      <br>
     <li><big><a href="/tour/tour_4">Авторский тур "Чарующая Грузия 2023 ЭКСПРЕСС!"</a></big></li>
     <br>
      <br>
     <li><big><a href="/tour/tour_5">"Паломнический тур в Грузию"</a></big></li>
<br>
 <br>
    <div class="col-10col-md-20 col-lg-10">
          <h2 class="pb-2 border-bottom">Внимание</h2>
              <p>В программе тура могут быть изменения, порядок экскурсий может быть изменен по времени в зависимости от работы экскурсионных объектов на маршруте следования и погодных условий.</p>

<p>Туроператор не несет ответственности за задержки связанные с дорожной обстановкой, пробками на дорогах и время, потраченное на прохождение границы.</p>

<p>Время в пути указано ориентировочно.</p>

        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/contact_form">Если есть вопросы, напишите нам</a></button>

</div>
</div>
</div>
{% endblock %}